<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    
    <title>About</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/styles.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
  </head>

  <body>
    <div class=main-content>
      {{>header}}
      <p>This site was created by caluapps. It uses data from mapbox.com and darksky.net!</p>
      <img class='portrait' src='/img/1up_vectored_by_bboza09.png'>
    </div>

    {{>footer}}
  </body>
</html>