<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    
    <title>Weather</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/styles.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
  </head>

  <body>
    <div class='main-content'>
      {{>header}}
      
      <p>Use this site to get your weather!</p>

      <form>
        <input type='' name=''>
        <button 
            placeholder='Location'>
          Search
        </button>
      </form>

      <p id='message-1'></p>
      <p id='message-2'></p>
    </div>

    {{>footer}}
  	<!--
  	hairclub
	wild 
  	lanzkrongasse 10, antiq 
  	treatwell hc oliver maly herrsensrevive massege -30 30Euro
lizzl - jasmin -->
	 <script src='/js/app.js'></script>
  </body>
</html>
